<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.admin.mapper.mysql.devicemodel.RoleUserDeviceModelMapper">
    <select id="findDeviceModelBySn" resultType="com.lm.admin.entity.pojo.devicemodel.DeviceModel">
        -- 查询用户拥有设备的设备物模型
        SELECT
            *
        from
            lm_device_model as dm
                INNER JOIN
            lm_user_owner_device as uod -- 通过查询中间表来过滤不属于该用户id的设备
        where
            uod.user_id = #{uid}  and -- 查询出中间表的设备id
            dm.sn = #{sn} and  -- 查询设备sn
            uod.device_id = dm.device_id  -- 如果中间表的设备等于物模型表的设备
    </select>
    <select id="findDeviceGroupingModelByGid" resultType="com.lm.admin.entity.pojo.devicemodel.DeviceModel">
        SELECT * FROM `lm_device_model` as la WHERE la.device_id in(
            SELECT device_id FROM `lm_grouping_owner_device`  as lb WHERE lb.grouping_device_id = #{grouping_device_id}
        )
    </select>

    <select id="findDeviceModelAllCount" resultType="java.lang.Integer">
        SELECT count(1) FROM lm_device_model
    </select>
    <select id="findThisDayNewDeviceModelCount" resultType="java.lang.Integer">
        SELECT count(1) FROM lm_device_model WHERE to_days(create_time) = to_days(now());
    </select>

</mapper>
