<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.admin.mapper.tdengine.DeviceDataMapper">
    <select id="fineDeviceDatas" resultType="com.lm.admin.entity.bo.device.DeviceDataBo">
        select * from lm_device_data  where identifier in(${identifierStr}) and sn = #{sn} order by ts desc limit #{identifierCount} ;
    </select>
    <insert id="saveDeviceData">
        INSERT INTO #{tableName} USING lm_device_data TAGS (#{sn}) VALUES (now, #{val}, #{identifier});
    </insert>
</mapper>
