<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.admin.mapper.mysql.DeviceMapper">
    <select id="queryDeviceBySn" resultType="com.lm.admin.entity.dto.device.DeviceDto">
        select * from lm_device WHERE sn = #{sn}
    </select>
</mapper>
