<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.admin.mapper.mysql.userowner.UserOwnerMapper">
    <!-- 用户拥有设备表 -->
    <!--根据设备id删除-->
    <!--根据用户id删除-->

    <!--添加一条记录-->
    <insert id="addUserOwnerDevice" >
        INSERT INTO lm_user_owner_device VALUES(#{user_id}, #{device_id})
    </insert>


    <!-- 用户拥有设备分组表 -->
    <!--根据设备分组id删除-->
    <!--根据用户id删除-->
    <!--添加一条记录-->

    <!-- 用户拥有设备策略表 -->
    <!-- 根据设备策略id删除 -->
    <!-- 根据用户id删除 -->
    <!-- 添加一条记录 -->
</mapper>
